h1 {
  background: radial-gradient(circle, rgb(195, 235, 183), rgb(85, 177, 140));
  padding: 50px;
  margin-bottom: 20px;
  text-align: center;
}
h3{
  color: #067f0c;
  text-decoration: underline;
}

h2{
  color: #7f5706;
}
#sec1 {
  padding: 40px;
margin: 40px;
  display: grid;
 place-items: centre;

}

.sec2{
  padding: 20px;
  display: grid;
  place-items: centre;
}
.sec3{
  display: inline-block;
  place-items: centre;
  padding: 10px;
  margin: 10px;
}
.section1 {
 
  border: 3px solid rgb(121, 119, 100);
  padding: 20px;
display:  inline-block;
 width: 50%;

margin-right: 50px;
 
}
.section {
  background-color: rgb(245, 245, 240);
  border-radius: 10px;
  border: 1px solid #6fe975;
  padding: 20px;
display: inline-block;
 width: 30%;
justify-content: center;
margin-bottom: 20px;
  box-shadow: 0 4px 4px rgb(54, 50, 50);
}
.box1{
  background-color: blanchedalmond;
 border: 3px solid black;
 box-sizing: border-box;
  
}

.box2{

  
  display: inline;
  background-color: rgb(188, 122, 23);

  box-sizing: border-box;
  
}
.box3{
border: 3px solid black;
  background-color: blanchedalmond;
  display: inline-block;
 
box-sizing: border-box;
}
.box4{
  border: 3px dotted rgb(10, 0, 0);
  background-color: blanchedalmond;
  display: inline-block;
box-sizing: border-box;
  
}
footer {
  text-align: center;
  padding: 1em;
  background: radial-gradient(circle, rgb(195, 235, 183), rgb(85, 177, 140));
    color: rgb(0, 0, 0);

  width: 100%;
  bottom: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
